<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

	<listeners>
		<listener class-name="core.listener.ExtentTestListener" />
		<listener class-name="core.utils.RetryAnnotationTransformer" />
	</listeners>

	<test name="All Tests">
		<packages>
			<package name="webtests" />
			<package name="apitests" />
		</packages>
	</test>

</suite>
